<!--begin:: Modal-->
<div class="modal fade" id="confirmDeleteModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmDeleteModalLabel">Confirmar Exclusão</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                    aria-label="Fechar"></button>
            </div>
            <div class="modal-body">
                Tem certeza que deseja excluir <strong id="name"></strong>?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn cancel px-lg-5 me-3" data-bs-dismiss="modal"><i class="bi bi-floppy me-2"></i> Cancelar</button>

                <form method="post" id="deleteForm">
                    {% csrf_token %}
                    <button type="submit" class="btn danger px-lg-5"><i class="bi bi-trash"></i> Excluir</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!--end:: Modal-->