
  <nav class="d-flex justify-content-between" aria-label="Paginação">
    <form method="get" class="d-flex align-items-center justify-content-end me-2 mt-2">
    <label for="paginate_by" class="me-2 mb-0">Itens por página:</label>
    <select name="paginate_by" id="paginate_by" class="form-select w-auto me-2" onchange="this.form.submit()">
      <option value="5" {% if request.GET.paginate_by == '5' %}selected{% endif %}>05</option>
      <option value="10" {% if request.GET.paginate_by == '10' %}selected{% endif %}>10</option>
      <option value="25" {% if request.GET.paginate_by == '25' %}selected{% endif %}>25</option>
      <option value="50" {% if request.GET.paginate_by == '50' %}selected{% endif %}>50</option>
    </select>

    {# Preserva filtros adicionais (ex: search, order_by) #}
    {% for key, value in request.GET.items %}
      {% if key != 'paginate_by' and key != 'page' %}
        <input type="hidden" name="{{ key }}" value="{{ value }}">
      {% endif %}
    {% endfor %}
  </form>
  {% if is_paginated %}
  <ul class="pagination justify-content-end me-2 mt-2">

    {# Link para a primeira página #}
    {% if page_obj.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?page=1&{{ get_copy.urlencode }}">«</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.previous_page_number }}&{{ get_copy.urlencode }}">‹</a>
      </li>
    {% else %}
      <li class="page-item disabled"><span class="page-link">«</span></li>
      <li class="page-item disabled"><span class="page-link">‹</span></li>
    {% endif %}

    {# Números das páginas com intervalo #}
    {% for num in page_obj.paginator.page_range %}
      {% if num == page_obj.number %}
        <li class="page-item active"><span class="page-link">{{ num }}</span></li>
      {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
        <li class="page-item">
          <a class="page-link" href="?page={{ num }}&{{ get_copy.urlencode }}">{{ num }}</a>
        </li>
      {% endif %}
    {% endfor %}

    {# Link para a próxima e última página #}
    {% if page_obj.has_next %}
      <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.next_page_number }}&{{ get_copy.urlencode }}">›</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}&{{ get_copy.urlencode }}">»</a>
      </li>
    {% else %}
      <li class="page-item disabled"><span class="page-link">›</span></li>
      <li class="page-item disabled"><span class="page-link">»</span></li>
    {% endif %}

  </ul>
{% endif %}

</nav>
