/*OLD*/

[data-bs-theme=dark] {
    /*Card*/
    --bs-app-card-bg: #15171C;
    --bs-app-card-box-shadow: none;
    --bs-app-card-border-color: #1E2027;

    /*Background*/
    --bs-app-bg-color: #090a0c;

    /*Header*/
    --bs-app-header-base-bg-color: #15171C;
    --bs-app-header-base-box-shadow: none;

    /*Menu*/
    --bs-menu-dropdown-bg-color: #202126;
    --bs-menu-dropdown-box-shadow: none; 
    --bs-dropdown-active-color:#F1FAFF;
    --bs-dropdown-active-bg:#363843;
    --bs-btn-bg-color: #1B1C22;

    /*Sidebar*/
    --bs-app-sidebar-link-color: #78829D;
    --bs-app-sidebar-base-bg-color: #15171C;
    --bs-app-sidebar-base-box-shadow: none;
    --bs-app-sidebar-base-menu-link-box-shadow: none;

    /*Footer*/
    --bs-app-footer-base-bg-color: #15171C;
    --bs-app-footer-base-box-shadow: none;
}

/*ANDRE FIGMA*/
[data-bs-theme=dark] {
    /*Card*/
    --bs-app-card-bg: #25282f;
    --bs-app-card-box-shadow: none;
    --bs-app-card-border-color: #1E2027;

    /*Background*/
    --bs-app-bg-color: #0e131a;

    /*Header*/
    --bs-app-header-base-bg-color: #25282f;
    --bs-app-header-base-box-shadow: none;

    /*Menu*/
    --bs-menu-dropdown-bg-color: #1d1f27;
    --bs-menu-dropdown-box-shadow: none; 
    --bs-dropdown-active-color:#A3AED0;
    --bs-dropdown-active-bg:#363843;
    --bs-btn-bg-color: #363843;

    /*Sidebar*/
    --bs-app-sidebar-link-color: #A3AED0;
    --bs-app-sidebar-icon-color: #1b81f8;
    --bs-app-sidebar-base-bg-color: #25282f;
    --bs-app-sidebar-active-color:#fff;
    --bs-app-sidebar-active-bg-color:#1B84FF;
    --bs-app-sidebar-base-box-shadow: none;
    --bs-app-sidebar-base-menu-link-box-shadow: none;

    /*Footer*/
    --bs-app-footer-base-bg-color: #25282f;
    --bs-app-footer-base-box-shadow: none;
}




[data-bs-theme=dark] {
    /*Card*/
    --bs-app-card-bg: #25282f;
    --bs-app-card-box-shadow: none;
    --bs-app-card-border-color: #1E2027;

    /*Background*/
    --bs-app-bg-color: #0e131a;

    /*Header*/
    --bs-app-header-base-bg-color: #25282f;
    --bs-app-header-base-box-shadow: none;

    /*Menu*/
    --bs-menu-dropdown-bg-color: #202126;
    --bs-menu-dropdown-box-shadow: none; 
    --bs-dropdown-active-color:#F1FAFF;
    --bs-dropdown-active-bg:#363843;
    --bs-btn-bg-color: #1B1C22;

    /*Sidebar*/
    --bs-app-sidebar-link-color: #A3AED0;
    --bs-app-sidebar-icon-color: #1b81f8;
    --bs-app-sidebar-base-bg-color: #25282f;
    --bs-app-sidebar-active-color:#fff;
    --bs-app-sidebar-active-bg-color:#1B84FF;
    --bs-app-sidebar-base-box-shadow: none;
    --bs-app-sidebar-base-menu-link-box-shadow: none;

    /*Footer*/
    --bs-app-footer-base-bg-color: #25282f;
    --bs-app-footer-base-box-shadow: none;
}

/*ANDERSON*/
[data-bs-theme=dark] {
    /*Card*/
    --bs-app-card-bg: #0e131a;
    --bs-app-card-box-shadow: none;
    --bs-app-card-border-color: #1E2027;

    /*Background*/
    --bs-app-bg-color: #1e2939;

    /*Header*/
    --bs-app-header-base-bg-color: #0e131a;
    --bs-app-header-base-box-shadow: none;

    /*Menu*/
    --bs-menu-dropdown-bg-color: #202126;
    --bs-menu-dropdown-box-shadow: none; 
    --bs-dropdown-active-color:#F1FAFF;
    --bs-dropdown-active-bg:#363843;
    --bs-btn-bg-color: #1B1C22;

    /*Sidebar*/
    --bs-app-sidebar-link-color: #A3AED0;
    --bs-app-sidebar-icon-color: #1b81f8;
    --bs-app-sidebar-base-bg-color: #0e131a;
    --bs-app-sidebar-active-color:#fff;
    --bs-app-sidebar-active-bg-color:#1B84FF;
    --bs-app-sidebar-base-box-shadow: none;
    --bs-app-sidebar-base-menu-link-box-shadow: none;

    /*Footer*/
    --bs-app-footer-base-bg-color: #0e131a;
    --bs-app-footer-base-box-shadow: none;
}


/*ANDERSON 2*/
[data-bs-theme=dark] {
    /*Card*/
    --bs-app-card-bg: #1e2939;
    --bs-app-card-box-shadow: none;
    --bs-app-card-border-color: #1E2027;

    /*Background*/
    --bs-app-bg-color: #0e131a;

    /*Header*/
    --bs-app-header-base-bg-color: #1e2939;
    --bs-app-header-base-box-shadow: none;

    /*Menu*/
    --bs-menu-dropdown-bg-color: #1d1f27;
    --bs-menu-dropdown-box-shadow: none; 
    --bs-dropdown-active-color:#A3AED0;
    --bs-dropdown-active-bg:#363843;
    --bs-btn-bg-color: #363843;

    /*Sidebar*/
    --bs-app-sidebar-link-color: #A3AED0;
    --bs-app-sidebar-icon-color: #1b81f8;
    --bs-app-sidebar-base-bg-color: #1e2939;
    --bs-app-sidebar-active-color:#fff;
    --bs-app-sidebar-active-bg-color:#1B84FF;
    --bs-app-sidebar-base-box-shadow: none;
    --bs-app-sidebar-base-menu-link-box-shadow: none;

    /*Footer*/
    --bs-app-footer-base-bg-color: #1e2939;
    --bs-app-footer-base-box-shadow: none;
}