<div class=" me-2 d-flex justify-content-end">
    <form method="get" class="d-flex">
        <input class="form-control me-2" type="text" name="search" placeholder="Pesquisar por nome..."
            value="{{ request.GET.search }}">
        
        <select class="form-control me-2" name="order_by">
            <option value="name" {% if request.GET.order_by == 'name' %}selected{% endif %}>Nome (A-Z)</option>
            <option value="-name" {% if request.GET.order_by == '-name' %}selected{% endif %}>Nome (Z-A)</option>
            <option value="phone" {% if request.GET.order_by == 'phone' %}selected{% endif %}>Telefone</option>
            <option value="-created_at" {% if request.GET.order_by == '-created_at' %}selected{% endif %}>Mais Recentes</option>
            <option value="created_at" {% if request.GET.order_by == 'created_at' %}selected{% endif %}>Mais Antigos</option>
        </select>        
        <button class="btn btn-update" type="submit">Filtrar</button>
    </form>
</div>