{% extends 'base.html' %}

{% load static %}
{% block extra_css %}
  <!-- DataTables -->
  <link href="https://cdn.datatables.net/2.2.2/css/dataTables.bootstrap5.css" rel="stylesheet">
  <link href="{% static 'css/base/dataTables.custom.css' %}" rel="stylesheet">
{% endblock %}

{% block title %}LockIn - Cartões{% endblock %}

{% block content %}
<!--begin::Card List-->
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 mt-3 mb-3 mt-lg-5 mb-lg-5">
  <div class="card p-3 p-lg-5">
    <div
      class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-4 mb-lg-5 border-bottom">
      <h1 class="h2">Cartões</h1>
      <div class="btn-toolbar mb-2 mb-md-0">
        <a href="{% url 'add_card' %}" class="btn custom"><i class="bi bi-plus-lg"></i> Novo Cartão</a>       
      </div>
    </div>

    {% include "partials/forms/messages.html" %}
    {% include "partials/confirm_delete_modal.html" %}

    {% include 'card/filter.html' %}
    <div class="table-responsive">
      <table class="table" id="cards">
        <thead>
          <tr>
            <th>Id</th>
            <th>Empresa</th>
            <th>RFID</th>
            <th>Disponibilidade</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
          {% for card in cards %}
          <tr>
            <td>{{ card.id }}</td>            
            <td>
              {% if card.enterprise_id %}
              {{ card.enterprise_id }}
              {% else %} 
              -----
              {% endif %}
            </td>
            <td>{{ card.rfid }}</td>      
            <td>
              {% if card.available %}
              <div class="badge badge-success">Disponível</div>
              {% else %} 
              <div class="badge badge-danger">Ocupado</div>
              {% endif %}
            </td>  
            <td>
              <a href="{% url 'update_card' card.id %}" class="btn btn-update" alt="Editar">
                <i class="bi bi-pencil"></i>
              </a>
              <a class="btn btn-sm btn-delete" alt="Excluir" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal" data-name="Cartão {{ card.id }} - RFID: {{ card.rfid }}" data-url="{% url 'delete_card' card.id %}">
                <i class="bi bi-trash"></i>
              </a>
          </td>        
          </tr>
          {% empty %}
          <tr>
            <td colspan="5" class="text-center text-muted">Nenhum cartão cadastrado.</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% include 'partials/pagination.html' %} 
    </div>    
  </div>
</main>
<!--end::Card List-->
{% endblock %}

{% block extra_js %}
{% include "partials/list_extra_js.html" %}

{% if cards %}
<script>
$(document).ready(function() {
  // Se a tabela não for inicializada ainda, inicialize
  if (!$.fn.dataTable.isDataTable('#cards')) {
    $('#cards').DataTable({
      ordering: false,
      searching:false,
      paging: false,            // remove paginação
      lengthChange: false,      // remove seletor "mostrar X registros"
      info: false,              // remove texto "Mostrando X a Y de Z registros"
      columnDefs: [
            { width: '10%', targets: 0 },  // Primeira coluna (Id do cartão)
            { width: '30%', targets: 1 },  // Segunda coluna (Empresa)
            { width: '30%', targets: 2 },  // Terceira coluna (RFID)
            { width: '10%', targets: 3 },  // Quinta coluna (Disponível)
            { width: '10%', targets: 4 }   // Sexta coluna (Ações)
        ],
      "language": {
        "sProcessing": "Processando...",       
        "sZeroRecords": "Nenhum registro encontrado",
        "sSearch": "Pesquisar:"       
      }
    });
  }
});
</script>
{% endif%}

{% endblock %}