{% extends 'base.html' %}

{% load static %}
{% block extra_css %}
  <!-- DataTables -->
  <link href="https://cdn.datatables.net/2.2.2/css/dataTables.bootstrap5.css" rel="stylesheet">
  <link href="{% static 'css/base/dataTables.custom.css' %}" rel="stylesheet">
{% endblock %}

{% block title %}LockIn - Usuários{% endblock %}

{% block content %}
<!--begin::Client List-->
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 mt-3 mb-3 mt-lg-5 mb-lg-5">
  <div class="card p-3 p-lg-5">
    <div
      class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-4 mb-lg-5 border-bottom">
      <h1 class="h2">Usuários</h1>
      <div class="btn-toolbar mb-2 mb-md-0">
        <a href="{% url 'add_client' %}" class="btn custom"><i class="bi bi-plus-lg"></i> Novo Usuário</a>       
      </div>
    </div>

    {% include "partials/forms/messages.html" %}
    {% include "partials/confirm_delete_modal.html" %}

    {% include 'client/filter.html' %}
    <div class="table-responsive">
      <table class="table" id="clients">
        <thead>
          <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>Telefone</th>
            <th>E-mail</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
          {% for client in clients %}
          <tr>
            <td>{{ client.id }}</td>
            <td>{{ client.name }}</td> 
            <td>{{ client.phone }}</td>      
            <td>{{ client.email }}</td>  
            <td>
              <a href="{% url 'update_client' client.id %}" class="btn btn-update" alt="Editar">
                <i class="bi bi-pencil"></i>
              </a>
              <a class="btn btn-sm btn-delete" alt="Excluir" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal" data-name="Usuário {{ client.name }}" data-url="{% url 'delete_client' client.id %}">
                <i class="bi bi-trash"></i>
              </a>
          </td>        
          </tr>
          {% empty %}
          <tr>
            <td colspan="5" class="text-center text-muted">Nenhum usuário cadastrado.</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% include 'partials/pagination.html' %}   
    </div>  
     
  </div>
</main>
<!--end::Client List-->
{% endblock %}

{% block extra_js %}
{% include "partials/list_extra_js.html" %}

{% if clients %}
<script>
$(document).ready(function() {
  // Se a tabela não for inicializada ainda, inicialize
  if (!$.fn.dataTable.isDataTable('#clients')) {
    $('#clients').DataTable({
      ordering: false, 
      searching:false,
      paging: false,            // remove paginação
      lengthChange: false,      // remove seletor "mostrar X registros"
      info: false,              // remove texto "Mostrando X a Y de Z registros"
      
      columnDefs: [
            { width: '10%', targets: 0 },  // Primeira coluna (Id)
            { width: '30%', targets: 1 },  // Segunda coluna (Nome)
            { width: '15%', targets: 2 },  // Terceira coluna (Telefone)
            { width: '25%', targets: 3 },  // Quinta coluna (E-mail)
            { width: '10%', targets: 4 }   // Sexta coluna (Ações)
        ],
      "language": {
        "sProcessing": "Processando...",       
        "sZeroRecords": "Nenhum registro encontrado",
        "sSearch": "Pesquisar:"       
      }
    });
  }
});
</script>
{% endif %}

{% endblock %}