.table-responsive {
    position: relative;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

table.dataTable thead > tr > th.dt-orderable-asc, 
table.dataTable thead > tr > th.dt-orderable-desc, 
table.dataTable thead > tr > td.dt-orderable-asc, 
table.dataTable thead > tr > td.dt-orderable-desc {    
    background-color: #F9F9F9;
}

table.dataTable thead > tr > th.dt-orderable-asc:hover, 
table.dataTable thead > tr > th.dt-orderable-desc:hover, 
table.dataTable thead > tr > td.dt-orderable-asc:hover, 
table.dataTable thead > tr > td.dt-orderable-desc:hover {
    outline: 0;
    outline-offset: 0;
    color: #1B84FF;
    background-color: #F1FAFF;
}

table.dataTable th.dt-type-numeric, 
table.dataTable th.dt-type-date, 
table.dataTable td.dt-type-numeric, 
table.dataTable td.dt-type-date {
    text-align: left;    
}

.table>:not(caption)>*>* {
    padding: 0.8rem 0.5rem;
}

table.dataTable {   
    font-size: 0.9rem;
    color: #707070; 
    border-color: #dee2e6;
}

tbody, td, tfoot, th, thead, tr {
    border-style: dashed;
}

table.dataTable td {
    padding: 0.5rem 0;
    vertical-align: middle;
}

/*-----------------------------*/
/*  dataTable Badges
/*-----------------------------*/
table.dataTable .badge-success,
table.dataTable .badge-danger {
    font-size: 0.7rem; 
    font-weight: 600;
}

table.dataTable .badge-success {
    color: #17C653;
    background-color: #dcf9df;    
}

table.dataTable .badge-danger {
    color: #f97280;
    background-color: #ffecf3;    
}

/*-----------------------------*/
/*  dataTable Inputs
/*-----------------------------*/
div.dt-container div.dt-search input,
div.dt-container div.dt-length select {
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
}

div.dt-container div.dt-length select {
    padding: .375rem 2.25rem .375rem .75rem;
}


/*-----------------------------*/
/*  dataTable Page lins
/*-----------------------------*/
.table-responsive .page-link {
    font-size: 0.9rem;
    padding: 0.4rem 0.8rem;
}

.table-responsive .active>.page-link, 
.table-responsive .page-link.active {
    background-color: #1B84FF;
    border-color: #1B84FF;
}

.table-responsive .disabled>.page-link, 
.table-responsive .page-link.disabled {
    background-color: #F9F9F9;
    border-color: #F9F9F9;
}

/*-----------------------------*/
/*  dataTable Btn
/*-----------------------------*/
.btn.btn-update,
.btn.btn-delete {
    font-size: 0.9rem;
    padding: 0.4rem 0.6rem;
}

.btn.btn-update:hover i,
.btn.btn-delete:hover i {
    color: #fff;
}

.btn.btn-update,
.btn.btn-delete {
    background: #F9F9F9;
}

.btn.btn-update i {
    color: #1B84FF;
}
  
.btn.btn-update:hover {
    background: #1B84FF !important;
}

.btn.btn-delete i {
    color: #f97280;
}
  
.btn.btn-delete:hover {
    background: #f97280 !important;
}

